@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="Index" asp-controller="Author" class="btn btn-primary">Authors</a>
    <a asp-action="Index" asp-controller="Book" class="btn btn-primary">Books</a>
    <a asp-action="Index" asp-controller="BorrowingTransactions" class="btn btn-primary">Library</a>
</div>
